claude-config/backups/
claude-config/projects
claude-config/cache
claude-config/paste-cache
claude-config/downloads
claude-config/session-env
claude-config/tasks
claude-config/telemetry
claude-config/.DS_Store
claude-config/stats-cache.json
claude-config/todos
claude-config/statsig
claude-config/shell-snapshots
claude-config/ide
claude-config/debug/
claude-config/file-history/
claude-config/history.jsonl
claude-config/plugins/
claude-config/sessions/

**/.DS_Store


gemini-config/tmp
gemini-config/google_accounts.json
gemini-config/google_accounts.json
gemini-config/oauth_creds.json
gemini-config/settings.json.orig
gemini-config/user_id
gemini-config/installation_id

gemini-config/antigravity/annotations
gemini-config/antigravity/brain
gemini-config/antigravity/code_tracker
gemini-config/antigravity/context_state
gemini-config/antigravity/conversations
gemini-config/antigravity/implicit
gemini-config/antigravity/knowledge
gemini-config/antigravity/daemon
gemini-config/antigravity/playground
gemini-config/antigravity/installation_id
gemini-config/antigravity/mcp_config.json
gemini-config/antigravity/onboarding.json
gemini-config/antigravity/onboarding.json.lock
gemini-config/antigravity/user_settings.pb

zed-config/prompts/*
